/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: "Roboto Condensed", Impact, "Franklin Gothic Bold", sans-serif;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container {
    display: grid;
    grid-template-rows: 170px auto;
    grid-template-columns: 277px auto;
    height: 100vh
}
#trending > div, #side > div, #projects > div, #announcements > div {
    border: solid
}
#navigation {
    grid-row: 1/3;
    grid-column: 1/2;
}
#body {
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 70% auto;
}
#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25px 1fr;
    grid-auto-rows: 1fr;
    gap: 10px;
    padding: 10px
}

#project-title {
    grid-row: 1/2;
    grid-column: 1/3;
}

#side {
    display: grid;
    grid-auto-rows: 1fr;
    grid-gap: 10px
}
#side > div {
    padding: 10px
}
.side-title {
    margin-bottom: 10px;
}
#announcements {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    height: calc(100% - 25px)
}
#trending {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    height: calc(100% - 25px)
}
#navigation {
    display: grid;
    grid-template-rows: 50px 340px auto;
    background-color: #1992D4;
    color: white;
    padding: 16px 16px 0 16px;
}
#navigation-main-menu {
    margin-top: 22px;
    margin-left: 6px;
    padding: 25px 0;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    gap: 5px;
    font-size: 18px;
    font-weight: 900;
}
#navigation-secondary-menu {
    margin: 0px 6px;
    padding: 25px 0;
    display: grid;
    grid-template-rows: repeat(3, 30px);
    grid-template-columns: 1fr;
    gap: 13px;
    font-size: 18px;
    font-weight: 900;
}
#navigation-main-menu > span > i, #navigation-secondary-menu > span > i {
    margin-right:30px
}
#logo {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 42px auto;
}
.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 3px;
}
.center {
    display: flex;
    align-items: center;
}
svg {
    height: 42px; 
    width: auto;
    fill: white
}
#header {
    display: grid;
    grid-template-rows: 75px 90px;
    grid-template-columns: repeat(12, 1fr);
}
#search {
    grid-row: 1/2;
    grid-column: 1/9;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search > form > input {
    width: 600px
}
#toolbar {
    grid-row: 1/2;
    grid-column: 9/13;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 36px 83px 36px 12px;
}
#toolbar > p {
    font-weight: 900;
}
#greeting {
    grid-row: 2/3;
    grid-column: 1/7;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 40px;
}
#greeting-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40px;
    margin-left: 20px
}
#greeting-text:first-child {
    font-size: 13px;
}
#greeting-text:last-child {
    font-size: 22px;
    font-weight: 900;
}
#actions {
    grid-row: 2/2;
    grid-column: 8/13;
    display: flex;
    justify-content: space-around;
    
}
.small-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.big-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
#big-avatar {
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.primary-button {
    background-color: #1992D4;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 10px 35px;
    font-weight: 900;
}